<!DOCTYPE html>
<html>
<body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">

<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top">

    </td>
    <td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
      <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
        <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;" bgcolor="#fff">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="alert alert-warning" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #00a3d3; margin: 0; padding: 20px;" align="center" bgcolor="#00a3d3" valign="top">
              <h1>Invoice 123</h1>
            </td>
        </tr>

          <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
          <td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
        <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            <p> Dear {{name}},</p>
       <!-- <p> Dear, {{customer}}  </p>-->
      <p>Here is your invoice ORC15 for R75.00
      </p>

                  <h3>Sale Date </h3> <p> The amount outstanding of AUD R79.00 is due on. 2020/0727</p>

                   <h3>Due Date  </h3> <p>On Feb 19, 2020, 11:23:38 AM</p>
               <h3>P.O Number   </h3> <p> This website is responsive.</p>

               <h3>Terms  </h3> <p> 12345</p>

               <h3>Status  </h3> <p> Sent</p>
               <h3>Department  </h3> <p> Sent</p>
<table class="order-details" style="border-collapse: collapse; width: 100%;">
  <tr>
    <td class="address-details" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px 10px 10px 0; width: 50%;">
      <h3 style="color: #333333; font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 800; line-height: 1.1; font-size: 30px; margin-top: 0; margin-bottom: 20px;">Billing Info</h3>
      <p style="margin-top: 0; margin-bottom: 10px;">Ariyibi Rasheed<br>
        Test Company<br>
        5 Meta aveue<br>
        Benoni, Queensland, 4228<br>
        Australia<br>
        T: <a href="tel:06347373737373" style="color: #000000; text-decoration: none;">06347373737373</a>

      </p>
    </td>

    <td class="address-details" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px 10px 10px 0; width: 50%;">
      <h3 style="color: #333333; font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 800; line-height: 1.1; font-size: 30px; margin-top: 0; margin-bottom: 20px;">Shipping Info</h3>
      <p style="margin-top: 0; margin-bottom: 10px;">Ariyibi Rasheed<br>
        ffff<br>
        62 Donges Street, 4, 4<br>
        Queensland, Queensland, 4228<br>
        Australia<br>
        T: <a href="tel:5555555" style="color: #000000; text-decoration: none;">5555555</a>

      </p>
    </td>

  </tr>
</table>

<table class="email-items" style="border-collapse: collapse; width: 100%; border-spacing: 0; max-width: 100%; border: 1px solid rgba(107, 107, 107, 0.18);">
  <thead>
    <tr>
      <th class="item-info" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left; vertical-align: bottom; padding: 10px; background-color: #f2f2f2;">
        Product Name
      </th>
      <th class="item-qty" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center; vertical-align: bottom; padding: 10px; background-color: #f2f2f2;">
        Qty </th>
      <th class="item-price" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: right; vertical-align: bottom; padding: 10px; background-color: #f2f2f2;">
        Unit Price </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="item-info" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; border-top: 1px solid rgba(107, 107, 107, 0.18);">
        <p class="product-name" style="margin-top: 0; margin-bottom: 5px; font-weight: 700;">Stone Drainage Gravel 20mm</p>
        <p class="sku" style="margin-top: 0; margin-bottom: 0;">SKU: DEF62</p>
      </td>
      <td class="item-qty" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; border-top: 1px solid rgba(107, 107, 107, 0.18); text-align: center;">26</td>
      <td class="item-price" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; border-top: 1px solid rgba(107, 107, 107, 0.18); text-align: right;">

        <span class="price">A$1,549.60</span>


      </td>
    </tr>
  </tbody>
  <tfoot class="order-totals">
    <tr class="subtotal">
      <th colspan="2" scope="row"
        style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: right; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 1px solid rgba(107, 107, 107, 0.18); font-weight: 400;">
        Subtotal </th>
      <td data-th="Subtotal" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 1px solid rgba(107, 107, 107, 0.18); text-align: right;">
        <span class="price" style="white-space: nowrap;">A$1,549.60</span> </td>
    </tr>
    <tr class="shipping">
      <th colspan="2" scope="row" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: right; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 0; font-weight: 400; padding-top: 0;">
        Tax </th>
      <td data-th="Shipping &amp; Handling" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 0; text-align: right; padding-top: 0;">
        <span class="price" style="white-space: nowrap;">A$130.00</span> </td>
    </tr>
    <tr class="grand_total">
      <th colspan="2" scope="row" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: right; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 1px solid rgba(107, 107, 107, 0.18); font-weight: 400;" >
        <strong style="font-weight: 700;">Grand Total</strong>
      </th>
      <td data-th="Grand Total" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 1px solid rgba(107, 107, 107, 0.18); text-align: right;">
        <strong style="font-weight: 700;"><span class="price" style="white-space: nowrap;">A$1,679.60</span></strong>
      </td>
    </tr>
    <tr class="subtotal">
      <th colspan="2" scope="row"
        style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: right; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 1px solid rgba(107, 107, 107, 0.18); font-weight: 400;">
        Paid Amount </th>
      <td data-th="Subtotal" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; background-color: #f2f2f2; border-top: 1px solid rgba(107, 107, 107, 0.18); text-align: right;">
        <span class="price" style="white-space: nowrap;">A$1,549.60</span> </td>
    </tr>
    <tr class="subtotal">
      <th colspan="2" scope="row"
        style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: right; vertical-align: top; padding: 10px; background-color: #f2f2f2;  font-weight: 400;">
        Balance Due </th>
      <td data-th="Subtotal" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding: 10px; background-color: #f2f2f2;  text-align: right;">
        <span class="price" style="white-space: nowrap;">A$1,549.60</span> </td>
    </tr>
  </tfoot>
</table>


 <div  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
 <p>Thanks,</p>
 <p>blank_erp</p>
          <table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">


 <p>If you have questions about your order, please let us know.</p>

<footer>
    <p><span>Powered by: vs1cloud &copy; 2020</span></p>
</footer>
</td>
   </tr>
</table>
</div>
          </td>
          </tr>
           </table>
           </td>
      </tr>
          </table>
     </div>
    </td>
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
  </tr>
  </table>
  </body>
</html>
